@charset "UTF-8";
/*Reset*/
/*Reset*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: #161921;
  padding: 25px;
  font-weight: bold;
  font-size: 3rem;
}

img {
  width: 400px;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #6b6b6b;
  padding: 25px;
  font-weight: bold;
}

.menu-navegable {
  text-align: right;
}

span {
  color: #111015;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}
header img {
  width: 15rem;
}
header nav {
  text-align: justify;
  padding-right: 25px;
}
header nav a {
  font-family: "Poppins", sans-serif;
  color: #2b2b33;
  text-decoration: none;
  transition: 0.5s;
}
header nav a:hover {
  color: #781027;
  margin: 10px;
}
header nav ul li {
  display: inline;
  justify-content: center;
}
header .menu-hamburguesa {
  width: 2rem;
  display: none;
}

.tituloInicio h1 {
  font-family: "Poppins", sans-serif;
  color: #161921;
  padding: 25px;
  font-weight: bold;
  font-size: 3rem;
}

.grid-sec1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  padding: 25px;
}
.grid-sec1 .item-1 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.grid-sec1 .item-1 .texto {
  padding: 35px;
}
.grid-sec1 .item-1 img {
  width: 25%;
  padding-left: 25px;
  position: relative;
  bottom: 12px;
}
.grid-sec1 .item-2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.grid-sec1 .item-2 .texto {
  padding: 25px;
}
.grid-sec1 .item-2 img {
  width: 20%;
  padding-left: 25px;
}
.grid-sec1 .item-3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.grid-sec1 .item-3 .texto {
  padding: 25px;
}
.grid-sec1 .item-3 img {
  width: 110px;
  padding-left: 25px;
}

.grid-sec2 {
  display: flex;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}

.grid-sec3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 15px;
}
.grid-sec3 .grid-1 img {
  position: relative;
  bottom: 8rem;
  align-content: center;
}
.grid-sec3 .grid-2 img {
  position: relative;
  bottom: 8rem;
  align-content: center;
}
.grid-sec3 .grid-3 img {
  position: relative;
  bottom: 8rem;
  align-content: center;
}

footer {
  background-color: #111015;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
footer img {
  width: 15rem;
}
footer p {
  font-family: "Poppins", sans-serif;
  color: #f3f3f3;
}
footer ul {
  list-style: none;
}
footer ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
footer ul li a:hover {
  text-decoration: underline;
}

.parrafo-servicios {
  font-family: "Poppins", sans-serif;
  color: #161921;
}

.grid-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: "Poppins", sans-serif;
  align-items: center;
  padding: 25px;
}
.grid-servicios p {
  padding-left: 25px;
}
.grid-servicios .item-serv1 {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  text-align: left;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
}
.grid-servicios .item-serv1 img {
  width: 40%;
  border: 5px solid white;
  border-radius: 15px;
}
.grid-servicios .item-serv2 {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  text-align: left;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
}
.grid-servicios .item-serv2 img {
  width: 40%;
  border: 5px solid white;
  border-radius: 15px;
}
.grid-servicios .item-serv3 {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  text-align: left;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
}
.grid-servicios .item-serv3 img {
  width: 40%;
  border: 5px solid white;
  border-radius: 15px;
}

.serv-cont a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #6b6b6b;
  text-align: center;
  padding: 25px;
}
.serv-cont a :hover {
  text-decoration: underline;
}
.serv-cont a span:hover {
  color: #781027;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px;
  margin: 25px;
}
.form-grid .formulario1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.form-grid .casillas {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
}
.form-grid .boton {
  background-color: green;
  width: 93%;
  border: none;
  border-radius: 5px;
  padding: 25px;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.form-grid .boton :hover {
  background-color: rgb(2, 90, 2);
  transition: 0.5s;
}

.quienessomos p {
  font-family: "Poppins", sans-serif;
  padding: 25px;
  font-size: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  margin: 35px;
}

.grid-tienda {
  display: flex;
  text-align: left;
  flex-direction: column;
}

/* Media query para pantallas medianas de 769px a 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  header {
    padding: 15px;
  }
  header a img {
    width: 12rem;
  }
  h1 {
    font-size: 2.5rem;
    padding: 20px;
  }
  h2 {
    font-size: 1.75rem;
    padding: 20px;
  }
  .grid-sec1 {
    grid-template-columns: 1fr 1fr;
  }
  .item-1,
  .item-2,
  .item-3 {
    font-size: 18px;
    padding: 20px;
  }
  .item-1 .texto,
  .item-2 .texto,
  .item-3 .texto {
    padding: 20px;
  }
  .grid-sec2 {
    padding: 20px;
  }
  .grid-sec3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .form-grid {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 20px;
  }
  .form-grid .boton {
    padding: 20px;
  }
  footer {
    padding: 20px;
  }
  footer img {
    width: 12rem;
  }
}
/* Media query para dispositivos móviles hasta 425px */
@media (max-width: 425px) {
  header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
  header nav {
    padding-right: 0;
    padding-bottom: 15px;
    display: none;
  }
  header a img {
    width: 8rem;
  }
  header .menu-hamburguesa {
    width: 2rem;
    display: block;
    padding-right: 5px;
  }
  h1 {
    font-size: 1.5rem;
    padding: 15px;
  }
  img {
    width: 100%;
  }
  h2 {
    padding: 15px;
    font-size: 1.25rem;
  }
  .grid-sec1 {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .item-1,
  .item-2,
  .item-3 {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }
  .item-1 img,
  .item-2 img,
  .item-3 img {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .grid-sec2,
  .grid-sec3 {
    flex-direction: column;
    padding: 15px;
  }
  .grid-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-grid {
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 15px;
  }
  .form-grid .boton {
    width: 100%;
    padding: 15px;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer img {
    width: 8rem;
  }
  footer ul {
    padding-top: 15px;
  }
}
/* Media query para tablets de 426px a 768px */
@media (min-width: 426px) and (max-width: 768px) {
  header {
    display: flex;
    align-items: center;
    text-align: center;
  }
  header nav {
    padding-right: 0;
    padding-bottom: 15px;
    display: none;
  }
  header a img {
    width: 10rem;
  }
  header .menu-hamburguesa {
    width: 2rem;
    display: block;
    padding-right: 5px;
  }
  h1 {
    font-size: 2rem;
    padding: 15px;
  }
  img {
    width: 100%;
  }
  h2 {
    padding: 15px;
    font-size: 1.5rem;
  }
  .grid-sec1 {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .item-1,
  .item-2,
  .item-3 {
    flex-direction: column;
    text-align: center;
    padding: 15px;
  }
  .item-1 img,
  .item-2 img,
  .item-3 img {
    padding-left: 0;
    margin-bottom: 15px;
  }
  .grid-sec2,
  .grid-sec3 {
    flex-direction: column;
    padding: 15px;
  }
  .grid-servicios {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .form-grid {
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 15px;
  }
  .form-grid .boton {
    width: 100%;
    padding: 15px;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer img {
    width: 10rem;
  }
  footer ul {
    padding-top: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
